body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: linear-gradient(rgb(28, 28, 26), rgb(25, 25, 19), rgb(95, 107, 41));
    flex-direction: column;

}

canvas {
    display: block;
}

.principal {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #ffffff;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

#send {
    width: 200px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 5px;
}

body::after {
    margin-top: 0px;
}